language: android

android:
  components:
    - platform-tools
    - tools

jdk:
  - oraclejdk8

before_install:
  # Install SDK license so Android Gradle plugin can install deps.
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo "$LICENSES_HASH" > "$ANDROID_HOME/licenses/android-sdk-license"
  - echo "$LICENSES_HASH_TWO" >> "$ANDROID_HOME/licenses/android-sdk-license"
  # Install the rest of tools (e.g., avdmanager)
  - sdkmanager tools

install: ./gradlew build --stacktrace

script:
  ./gradlew clean check --stacktrace

notifications:
  email: false

sudo: false

cache:
  directories:
    - $HOME/.gradle
